* {
  margin: 0;
  padding: 0;
  background-color: none;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  outline: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: rgb(104, 101, 101);
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 10px #545353;
}

input {
  height: 50px;
  width: 280px;
  background-color: rgb(212, 214, 212);
  box-shadow: 0px 10px rgb(194, 193, 193);
  border: 50px;
  border-radius: 5px;
  color: rgb(43, 42, 42);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 20px;
}

#ac-button {
  background-color: rgb(196, 177, 177);
}

#sign {
  background-color: rgb(196, 177, 177);
}

button {
  height: 50px;
  width: 55px;
  background-color: white;
  box-shadow: 0px 5px rgb(194, 193, 193);
  border: none;
  border-radius: 15px;
  margin: 8px;
  font-size: 30px;
  font-weight: bold;
}

/*equal sign are orange*/
.btn_equal {
  background-color: rgb(224, 164, 51);
  box-shadow: 0px 5px rgb(168, 110, 2);
}

h1 {
  text-align: center;
  margin-top: 60px;
  margin-right: 20px;
}

h3 {
  text-align: center;
  margin-top: 100px;
  margin-right: 20px;
}
